@page "/"

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden; 
    }

    .container-fluid {
        height: 100vh;
    }

    .hero-image {
        max-width: 100%;
        height: auto;
        margin: 20px 0;
    }
</style>

<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="display-4">Bem-vindo ao CarrosClient!</h1>
        <p class="lead">Gerencie seus carros de forma fácil e rápida.</p>
        <hr class="my-4">
        <p class="lead">Este é um sistema simples para gerenciar informações sobre veículos.</p>
        <div>
            <img src="images/home.jpg" alt="Imagem Inicial" class="img-fluid hero-image">
        </div>
    </div>
</div>
