USE [master]
GO
/****** Object:  Database [Trabalho]    Script Date: 29/06/2024 11:59:11 ******/
CREATE DATABASE [Trabalho]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Trabalho', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Trabalho.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Trabalho_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Trabalho_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Trabalho].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Trabalho]
GO
/****** Object:  Table [dbo].[Carros]    Script Date: 29/06/2024 11:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carros](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[modelo] [varchar](50) NULL,
	[preco] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
